
<div class="container">
<h1 align="center" style="font-weight:bolder;padding-bottom:10px;"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;&nbsp;Phone Book App</h1>

<input type="text" class="form-control" placeholder="&#xF002; Search" [(ngModel)]="term" style="margin-bottom:20px;font-family:Arial, FontAwesome" >
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="text-align: center;">
                ID  
            </th>  
            <th style="text-align: center;" [class.active]="order === 'Fname'" (click)="setOrder('Fname')">
                First Name
                <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
            </th>
            <th style="text-align: center;" [class.active]="order === 'Lname'" (click)="setOrder('Lname')">
                Last Name 
                <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
            </th>
            <th style="text-align: center;"  [class.active]="order === 'ConNumber'" (click)="setOrder('ConNumber')">
                Contact Number
                <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
            </th>
            <th style="text-align: center;">Action</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let det of phb | filter:term | orderBy: order:reverse">
            <td style="text-align: center;">{{det.id}}</td>
            <td style="text-align: center;">{{det.Fname}}</td>
            <td style="text-align: center;">{{det.Lname}}</td>
            <td style="text-align: center;">{{det.ConNumber}}</td>
            <td style="text-align: center;"><button class="btn btn-danger" (click)=deleteContact(det)><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;<button class="btn btn-primary"(click)=editDetails(det.id)>Edit</button></td>
        </tr>
    </tbody>
</table>
<div align="center">
    <button class="btn btn-warning" (click)="showFormAC()" >Add Contact</button>
</div>

<br>
    <div align="center" *ngIf="dispAddCont==true" style="padding:5px;">
        <form class="form-inline">
            <div class="form-group">
                <input class="form-control" placeholder="First Name"  #Fname />
            </div><br><br>
            <div class="form-group">
                <input class="form-control" placeholder="Last Name"  #Lname />
            </div><br><br>
            <div class="form-group">
                <input class="form-control" placeholder="Contact Number"  #ConNumber />
            </div><br><br>
            <button  class="btn btn-success" (click)="addContact(Fname.value,Lname.value,ConNumber.value )" type="button">Confirm Contact Addition</button>
        </form>
    </div>
</div>